<div class="container">
  <h1>Feeds</h1>

  <h2>Add feed</h2>
  <%= render 'form', feed: @feed %>

  <div class="feeds">
    <% @feeds.each do |feed| %>
      <%= link_to feed do %>
      <div class="feeds__feed">
        <%= image_tag feed.image, class: 'img-fluid' unless feed.image.blank? %>
        <p><%= feed %></p>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
