<h1>Feeds</h1>

<h2>Add feed</h2>
<%= render 'form', feed: @feed %>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Image</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <% @feeds.each do |feed| %>
      <tr>
        <td><%= link_to feed.title, feed %></td>
        <td><%= image_tag feed.image unless feed.image.blank? %></td>
        <td><%= feed.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>
